$ps-components-orange: #e8762c;
$ps-components-gray:#787878;
$ps-components-blue:#2e4c65;
$ps-components-purple:#847094;

$ps-components-link-color: #373737;
$ps-components-hover-color:#ECF4F7;
$ps-components-gray-bg:#F7F8F9;
$ps-components-icon-color:#666666;
$ps-components-correct-answer-color: #14892c;

$ps-components-font-family:"Benton Sans Book",Helvetica,sans-serif;

@import './Deflection.scss';

